.site-header {
    padding: 10px;
}

.main-pic {
    padding: 1.0rem;
    float: left;
    width: 260px;
}

img {
    max-width: 100%;
}

.about-me {
    background-color: white;
    padding: 30px;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
}

.site-body {
    padding: 10px 20% 10px 20%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
  }

li {
    float: left;
  }
li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif; 
}

li a:hover {
    background-color: #83ffe4;
}

p {
    line-height: 1.8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

body {
    background: #ff6e7f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #bfe9ff, #ff6e7f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #02005f23, #ff6e7f1c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}