h1, h2, h3, h4, .title-font { font-family: 'Open Sans', Helvetica, Arial, sans-serif; } 

.site-header {
    padding: 2rem;
    background-color: #000000;
    background-color: rgba(0, 0, 0, .9);
    border-bottom: 1px solid black;
}

.site-header-col-left {
    max-width: 80%;
    flex: 1 1 80%;
}

.site-title {
    flex: 1 1 auto;
    font-weight: 900;
    font-size: 1.5rem;
    color: #ffffff;
}

.site-title a {
    font-weight: 900;
    letter-spacing: 1px; 
    color: #ffffff; 
}

a {
    text-decoration: none;
    transition: color 0.25s cubic-bezier(0.45, 0.3, 0.15, 0.95);
}

.column {
    float: left;
    width: 50%;
}
.row {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.row-middle {
    align-items: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.site-wrapper {
    flex: 1 1 auto;
}

.container-lg {
    max-width: 78.125rem;
}

.container-sm,
.container-lg {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100%;
}

div {
    display: block;
}

body {
    background-image: url("background.jpg");
    background-size: 100%;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif; 
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}

*, *::before, *::after {
    box-sizing: inherit;
}