.site-header {
    padding-top: 30px;
    background: #000000;
    color: #ffffff;
}

.site-header h1 {
    margin: 0;
    font-size: xx-large
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}